 body {
     padding: 0%;
     margin: 0%;
     border: 0%;
 }


 /*efeitos de transicao*/
 .blocotransicao{
     position: absolute;
     background-color: white;
     width: 100%;
     height: 100%;
     /*transform: translateY(-100%);*/
 }
 .blocotransicao img{
     position: relative;
     transform: translate(-50%, -50%);
     left: 50%;
     top: 50%;
     width: 19%;
 }



 /* background todas as telas */
 .conteiner {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
 }

 .gradiente-instagram{
    background: #f09433;  
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    height: 100vh;
    width: 100vw;
 }

 .rss {
    background-color:rgb(226, 129, 65);
    height: 100vh;
 }

 .twitter {
     background-color: #daf4fd;
 }



 /* cabeçalho fixo (logo if + relogio) */
 .fixo {
    position: relative;
    width: 10vw;
    height: 41vh;
    left: 85vw;
    top: 10vh; 
 }

 .logo {
    position: absolute;
    left: 15%;
    width: 75%;
 }

 .logo img{
    width: 100%;
    filter: drop-shadow(7px 7px 2px rgba(34, 34, 34, 0.76));
 }

 .relogio {
    box-shadow: 7px 7px 8px 0px rgba(34, 34, 34, 0.76);
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: 'Segoe UI', sans-serif;
    background-color: rgba(233, 248, 226, 0.623);
    border-radius: 3%;
    height: 35%;
    width: 85%;
    position: absolute;
    left: 10%;
    top: 58%;
    text-align: center;
 }

 .diadata {
    margin: 0;
    border: 0;
    font-size: 10pt;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 9px;
    padding-right: 9px;
 }

 .hora {
    margin: 0;
    border: 0;
    font-size: 17pt;
 }


 
 /* logo rede social */
 .logocanto {
     position: absolute;
     top: 77%;
     width: 8vw;
     left: 4%;
 }

 .logocanto img{
    filter: drop-shadow(4px 2px 1px rgba(34, 34, 34, 0.76));
     width: 100%;
     height: 100%;
 }

 .logorss{
    transform: rotate(47deg);
}



 /* mural das publicações do Istagram*/
 .mural {
     /*background-color: antiquewhite;*/
     position: absolute;
     width: 65%;
     left: 49%;
     top: 47%;
     height: 67%;
     transform: translate(-50%, -50%);
 }
 
 .legenda{
    text-align: justify;
    background-color: white;
    position: absolute;
    display: inline-block;
    padding: 3%;
    width: 42%;
    left: 52%;
    min-height: 50%;
    max-height: 100%;
    border-radius: 10px;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    /*font-size: clamp(1em, 1em + 1vw, 1.1em); 
    top: 2%;*/
 }

 .curtidas p{
     width: 50%;
     display: inline-block;
     margin-top: 0;
     font-size: 10pt;
     transform: translateY(-30%);
 }

 .iconecurtidas{
     width: 5%;
     height: 4%;
     /*background-color: #f09433;*/
     display: inline-block;
 }

 .iconecurtidas img{
    position: relative;
    width: 100%;
    height: 100%;
 }

 .publicacao {
    position: absolute;
    display: inline-block;
    width: 49%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    /*top: 2%;*/
 }

 .shadow {
    box-shadow: 6px 5px 4px 0px rgba(34, 34, 34, 0.76);
 }

 /*.foto {
     width: 100%;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;    
 }

 .foto img {
    position: relative;
    max-width:100%;
    max-height:100%;
    object-fit: fill;
 }
 
 .perfilinstagram{
     width: 10%;
     height: 9%;
     position: relative;
     left: 7%;
     top: 2%;
     background-color: #cc2366;
     margin-bottom: 0;
     padding-bottom: 0;
     border-bottom: 0;
 }

 .perfilinstagram img{
     width: 100%;
     height: 100%;
     border-radius: 50%;
 }*/



 /*RSS */
 .muralnoticias {
     position: absolute;
     transform: translateX(-50%);
     left: 45%;
     width: 70vw;
     top: 8vh;
    color: white;
 }

 .titulonoticia{
     text-align: center;
 }

 .links{
     padding-left: 5%;
     padding-top: 5%;
     font-size: 20px;
 }

 .qrcode {
     width: 10vw;
     height: 20vh;
     position: absolute;
     left: 85vw;
     top: 75vh;
 }

 .qrcode img{
     width: 100%;
     height: 100%;
 }



 /* Mural Twitter */
.muraltwitter {
    /*background-color: white;*/
    position: absolute;
    width: 80vw;
    top: 48vh;
    height: 80vh;
    transform: translatey(-50%);
    font-size: 22px;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
}

.fotoperfil {
    box-shadow: 4px 3px 4px 0px rgba(34, 34, 34, 0.76);
    /*background-color: #d8e0b6;*/
    width: 10%;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 18%;
    left: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 110%;
    width: 11%;
 }

.tweet {
    text-align: justify;
    /*background-color: #d8e0b6;*/
    transform: translate(-50%, -50%);
    position: absolute;
    width: 80%;
    left: 60%;
    top: 47%;
}

.perfil {
    width: 100%;
    height: 20%;
    /*background-color:rgb(226, 129, 65);*/
}

.usuario {
    position: relative;
    display: inline-block;
    /*background-color: #d8e0b6;*/
    margin-left: 9%;
    top: 25%;
    transform: translateY(-85%);
    font-size: 16pt;
}

.user {
    color: rgb(68, 68, 68)
}

/*.fotoperfil img {
     height: 100%;
     width: 100%;
     border-radius: 50%;
 }*/


 
/*Formatação textos js*/
.hashtag {
    color: #800020;
}
    /*Twitter*/
.mention {
    color: #2b7bb9;
}

    /*Instagram*/
.hashtag_instagram {
    color: #0000B1;
}
.mention_instagram {
    color: #B17D00;
}