 body {
     padding: 0;
     margin: 0;
     border: 0;
 }
 /* background todas as telas*/
 .bgnoticias{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
 }

 .bginstagram{
    background: #f09433;  
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    height: 100vh;
    width: 100vw;
 }

 .bgrss {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
 }

 .bgtwitter {
     background-color: #daf4fd;
     height: 100vh;
 }



 /* cabeçalho fixo (logo if + relogio) */
 .fixo {
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 50vh;
    left: 87vw;
    top: 10vh; 
 }

 .logo-if {
    position: relative;
    margin-left: 7%;
    width:75%;
    margin: auto
 }

 .logo-if img{
    width: 100%;
    filter: drop-shadow(7px 7px 2px rgba(34, 34, 34, 0.76));
 }

 .relogio {
    box-shadow: 7px 7px 8px 0px rgba(34, 34, 34, 0.76);
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: 'Segoe UI', sans-serif;
    background-color: rgba(233, 248, 226, 0.623);
    border-radius: 3%;
    width: 100%;
    top: 5%;
    margin: auto;
    text-align: center;
    position: relative;
 }

 .diadata {
    margin: 0;
    border: 0;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 9px;;
    padding-right: 9px;
 }

 .hora {
    margin: 0;
    border: 0;
    padding-bottom: 8%;
 }

@media (min-width: 1100px) and (max-width: 1920px)
{
    .diadata {
        font-size: 12pt;
    }
    .hora{
        font-size: 22pt;
    }
    .legenda-instagram {
        font-size: 14pt;
    }
    .mural-twitter {
        font-size: 18pt;
    }
}
@media (min-width: 800px) and (max-width: 1100px){
    .diadata{
        font-size: 8pt;
    }
    .hora{
        font-size: 12pt
    }
    .mural-twitter{
        font-size: 14pt;
    }
    .legenda-instagram{
        font-size: 12pt;
    }
}

@media (max-width: 800px) {
    .diadata{
        font-size: 6pt;
    }
    .hora{
        font-size: 10pt
    }
    .mural-twitter{
        font-size: 12pt;
    }
    .legenda-instagram{
        font-size: 8pt;
    }
}
 
 /* logo rede social */
 .logocanto {
     position:fixed;
     top: 80%;
     width: 8vw;
     left: 4%;
 }

 .logocanto img{
    filter: drop-shadow(4px 2px 1px rgba(34, 34, 34, 0.76));
     width: 100%;
     height: auto;
 }

 .logorss{
    transform: rotate(47deg);
}

 /* mural das publicações do Istagram*/
 .mural-instagram {
    position: fixed;
     width: 65%;
     height: 58%;
     left: 47%;
     transform: translatex(-50%);
     top: 10%;
 }
 
 .legenda-instagram{
    text-align: justify;
    background-color: white;
    display: inline-block;
    position: relative;
    padding: 2% 5% 3%;
    width: 42%;
    left: 52%;
    min-height: 40%;
    border-radius: 10px;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
 }

 .publicacao-instagram {
    padding-bottom: 0;
    background-color: white;
    position:fixed;
    display: inline-block;
    width: 49%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    /*top: 2%;*/
 }
.publicacao-instagram img {
    width: 100%;
    height: 100%;
    padding: 0
}
 .shadow {
    box-shadow: 5px 4px 10px 0px rgba(34, 34, 34, 0.76);
 }



 /*RSS */
 .mural-noticias {
    position: fixed;
    width:65%;
    transform: translatex(-50%);
    top: 15%;
    left: 46%;
    color: white;
    background-color:#ffffff42;
 }

 .titulo-noticia{
     text-align: center;
     padding-left: 2%;
     padding-right: 2%;
 }

 .conteudo-noticia{
     padding-left: 5%;
     padding-right: 5%;
     font-size: 20px;
     margin-top: 10%;
 }

 .qrcode {
     width: 10vw;
     left: 87vw;
     top: 73%;
     position: fixed;
     padding: 0;
     margin: 0;
     border: 0;
 }

.qrcode img{
    width: 100%;
    height: auto;
}

 /* Mural Twitter */
.mural-twitter {
    top: 17%;
    left: 45%;
    transform: translateX(-50%);
    position:fixed;
    background-color: white;
    width: 58%;
    min-height: 30%;
    border-radius: 2%;
    padding: 1%;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
}

.foto-perfil {
    box-shadow: 4px 3px 4px 0px rgba(34, 34, 34, 0.76);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 12%;
    display: inline-block;
    padding-top: calc((4/4) * 12%);
    margin-top: 2%;
    margin-left: 2%;
 }

.tweet {  
    position: relative;
    text-align: justify;
    margin-top: 14%;
    padding-left: 18%;
    padding-right: 5%;
    padding-bottom: 6%;
}

.perfil-twitter {
    width: 100%;
    height: 31%;
    position: relative;
}
.foto-perfil, .usuario-twitter{
    float: left;
}

.usuario-twitter {
    display: inline-block;
    padding-left: 4%;
    margin-top: 2%
}

.user {
    color: rgb(68, 68, 68)
}


/*Formatação textos js*/
.hashtag {
    color: #800020;
}
    /*Twitter*/
.mention {
    color: #2b7bb9;
}

    /*Instagram*/
.hashtag_instagram {
    color: #b80f17;
}
.mention_instagram {
    color: #0047b1;
}